@charset "UTF-8";
html{font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

html,body{-webkit-user-select:none;user-select:none;margin: 0px;padding: 0px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0;padding: 0;}

input, select,textarea {border: 0;-webkit-appearance: none;appearance:none;outline:none;}//清除输入框内阴影

img,a{-webkit-touch-callout:none;}//禁用长按页面时的弹出菜单(iOS下有效)
//img:not([activwe]){opacity:0}

em,i{font-style:normal;}
a{text-decoration:none;-webkit-touch-callout:none;background-color:transparent}
a:active,a:hover{outline:none}
ul, ol {list-style: none;}
//input,textarea {
//  border: 0;
//  -webkit-appearance: none;
//}

//Element {
//  -webkit-user-select:none;
//  -moz-user-select:none;
//  -khtml-user-select:none;
//   user-select:none;
//}
//Element{
//  -webkit-touch-callout:none; //长按闪退
//  -webkit-appearance:none; //iphone及ipad下输入框默认内阴影
//}
//Element {
//  -webkit-tap-highlight-color:rgba(255,255,255,0) //ios和android下触摸元素时出现半透明灰色遮罩
// -webkit-overflow-scrolling : touch;  //overflow-y:scroll;卡顿问题-webkit-overflow-scrolling
//}
/*input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }*/



